<!-- Bootstrap Alert container -->
    <div class="container text-center" id="bootstrap-alert-container">
        <!-- Display alerts based on URL parameters -->
            <script>
                   function createAlert(type, message) {
                    const alert = document.createElement('div');
                    alert.className = `alert alert-${type} alert-dismissible fade show`;
                    alert.role = 'alert';

                    // Sanitize and set the content using innerText
                    const sanitizedMessage = document.createTextNode(message);
                    const strong = document.createElement('strong');
                    strong.style.fontSize = '1.2em';
                    strong.appendChild(sanitizedMessage);
                    alert.appendChild(strong);

                    // Add close button
                    const closeButton = document.createElement('button');
                    closeButton.type = 'button';
                    closeButton.className = 'btn-close';
                    closeButton.setAttribute('data-bs-dismiss', 'alert');
                    closeButton.setAttribute('aria-label', 'Close');
                    alert.appendChild(closeButton);

                    // Append the Bootstrap Alert to the container
                    document.getElementById('bootstrap-alert-container').appendChild(alert);
                    }
    
                const urlParams = new URLSearchParams(window.location.search);
                const queryParamsAlertType = urlParams.get('alertType');
                const queryParamsAlertMessage = urlParams.get('alertMessage');

                // with COOKIES
                // const alertType = document.cookie.replace(/(?:(?:^|.*;\s*)alertType\s*=\s*([^;]*).*$)|^.*$/, "$1");
                // const alertMessage = document.cookie.replace(/(?:(?:^|.*;\s*)alertMessage\s*=\s*([^;]*).*$)|^.*$/, "$1");

                const renderAlertType = "{{.alertType}}";
                const renderAlertMessage = "{{.alertMessage}}";
                if (renderAlertType && renderAlertMessage) {
                    createAlert(renderAlertType, renderAlertMessage);
                } else if (queryParamsAlertType && queryParamsAlertMessage) {
                    createAlert(queryParamsAlertType, queryParamsAlertMessage);
                }     
                
                
            </script>
</div>