<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="/images/landingpage/Logo.png"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
  
        
        <div class="collapse navbar-collapse search-bar" id="navbarNav">
            <!-- Search Bar -->
            <form class="d-flex search-form">
                <div class="search-container">
                <input class="form-control me-2 search-input" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-dark search-button" type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="25" fill="currentColor" class="bi bi-search" viewBox="0 0 16 30">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                  </svg>
                </button>
                </div>
              </form>
            <!-- End Of Search Bar -->
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">EVENTS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">SPEAKERS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">TICKET</a>
          </li>
          <li class="nav-item">
            <span class="text-white">
                <img class="rounded-circle mx-3" style="width: 60px; height: 50px;" src="/images/mainpage/home/EventCreatorPicture.jpg" alt="">
                <b>KaijuBOP</b>
            </span>
          </li>
          <li class="nav-item">
            <a href="/login"><img src="/images/partials/LogoutButton.png" width="150" height="45" alt=""></a>
          </li>
         
        </ul>
        
      </div>
    </div>
  </nav>