<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{ .BaseURL }}"><img src="/images/landingpage/Logo.png"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <ul class="navbar-nav me-4">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{ .BaseURL }}" style="font-size: 13px;">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ .BaseURL }}/search" style="font-size: 13px;">SEARCH EVENTS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ .BaseURL }}/recommendationpage" style="font-size: 13px;">RECOMMENDATION</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ .BaseURL }}/mytickets" style="font-size: 13px;">MY TICKETS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{{ .BaseURL }}/savedevents" style="font-size: 13px;">SAVED EVENTS</a>
          </li>
          <li class="nav-item">
            <span class="text-white">
                <img class="rounded-circle" style="width: 50px; height: 50px;" src="/images/mainpage/home/ProfilePicture.png" alt="">
                <b>{{ .User.Name.String }}</b>
            </span>
          </li>
          <form action="/logoutuser" method="post">
            <button type="submit" class="btn btn-dark me-5">
                <img src="/images/partials/LogoutButton.png" width="100" height="25" alt="">
            </button>
        </form>
         
        </ul>
        
      </div>
    </div>
  </nav>