{{ template "topmainpage" }}
{{ template "partials/navbar" .}}
{{ template "carouselmainpage" .}}
<h1 class="text-white mt-5 ms-5 text-center">EVENT CATEGORIES</h1>
<hr class="mb-4" style="border-top: 2px solid white;"> 
<div class="row event-categories">
    <div class="col m-5 music-events main-categories">
        <h1 class="text-center">MUSIC EVENTS</h1>
        <div class="extra-content text-center m-5">
        <h4>Bagi kamu yang suka musik, kategori event inilah yang paling 
            tepat untukmu, berikut adalah subkategori dari event ini: </h4>
        
        <ul>
            <li><h5>Music Festival</h5></li>
            <li><h5>Concerts</h5></li>
        </ul>
        </div>
    </div>
    <div class="col m-5 arts-and-culture main-categories">
        <h1 class="text-center">ARTS AND CULTURE</h1>
        <div class="extra-content text-center m-5">
        <h4>Bagi kamu yang suka musik, kategori event inilah yang paling 
            tepat untukmu, berikut adalah subkategori dari event ini: </h4>
        
        <ul>
            <li><h5>Art Exhibitions</h5></li>
            <li><h5>Theater Performances</h5></li>
        </ul>
        </div>
    </div>
</div>
{{ template "bottomMainPage" }}