.search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .search-container {
    position: relative;
  }
  
  .search-input {
    padding: 8px 32px 8px 8px;
    border: 1px solid #ccc;
    height: 30px;
  }
  
  .search-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 8px;
    background-color: transparent;
    border: none;
  }

  .navbar-nav li{
    margin-right: 30px;
    margin-left: 80px;
  }

  .navbar-nav .nav-link {
    font-weight: bold;
  }
  


  .search-bar{
    margin-left:80px;
  }

  .navbar-brand {
    margin-left: 80px;
    margin-right: 50px;
  }