
  .navbar-nav li{
    margin-right: 30px;
    margin-left: 80px;
  }

  .navbar-nav .nav-link {
    font-weight: bold;
  }
  


  .search-bar{
    margin-left:80px;
  }

  .navbar-brand {
    margin-left: 80px;
    margin-right: 50px;
  }