<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/assets/landingpage/landingpage.css">
    <link rel="stylesheet" type="text/css" href="/assets/index.css">
    <link rel="stylesheet" type="text/css" href="/assets/partials/navbar.css">
    <link rel="stylesheet" type="text/css" href="/assets/partials/footer.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/js/dist/carousel.min.js"></script>
    <title>Document</title>
</head>
<body>
    {{ template "partials/navbar" }}
    <div class="container"> 
        <h1 class="text-center">EVENTS CATEGORIES RELATION MANAGEMENT</h1>
        <div class="row">
            <a class="btn btn-primary btn-lg" href="/seedscategorieseventrelation">Generate Relations Seed</a>
            <a class="btn btn-danger btn-lg" href="/deleteallcategorieseventrelation">Delete All Relations</a>
        </div>
    </div>
 
</body>
</html>