{{ define "category1"}}
<div class="col m-5 entertainment-and-performance main-categories">
<a href="#" class="text-white">
    <h1 class="text-center">Entertainment & Performance</h1>
    <div class="extra-content text-center m-5">
    <h4>Bagi kamu yang suka musik, kategori event inilah yang paling 
        tepat untukmu, berikut adalah subkategori dari event ini: </h4>
    
    <ul>
        <li><h5>Music Festival</h5></li>
        <li><h5>Concerts</h5></li>
    </ul>
    </div>
</a>
</div>
{{ end }}
{{ define "category2"}}
<div class="col m-5 arts-and-culture main-categories">
<a href="#" class="text-white">
    <h1 class="text-center">Art & Culture</h1>
    <div class="extra-content text-center m-5">
    <h4>Bagi kamu yang suka musik, kategori event inilah yang paling 
        tepat untukmu, berikut adalah subkategori dari event ini: </h4>
    
    <ul>
        <li><h5>Art Exhibitions</h5></li>
        <li><h5>Theater Performances</h5></li>
    </ul>
    </div>
</a>
</div>
{{ end }}
{{ define "category3"}}
<div class="col m-5 sports main-categories">
<a href="#" class="text-white">
    <h1 class="text-center">Sports</h1>
    <div class="extra-content text-center m-5">
    <h4>Bagi kamu yang suka musik, kategori event inilah yang paling 
        tepat untukmu, berikut adalah subkategori dari event ini: </h4>
    
    <ul>
        <li><h5>Music Festival</h5></li>
        <li><h5>Concerts</h5></li>
    </ul>
    </div>
</a>
</div>
{{ end }}
{{ define "category4"}}
<div class="col m-5 competition main-categories">
<a href="#" class="text-white">
    <h1 class="text-center">Competition</h1>
    <div class="extra-content text-center m-5">
    <h4>Bagi kamu yang suka musik, kategori event inilah yang paling 
        tepat untukmu, berikut adalah subkategori dari event ini: </h4>
    
    <ul>
        <li><h5>Art Exhibitions</h5></li>
        <li><h5>Theater Performances</h5></li>
    </ul>
    </div>
</a>
</div>

{{ end }}
{{ define "category5"}}
<div class="col m-5 charity main-categories">
<a href="#" class="text-white">
    <h1 class="text-center">Charity</h1>
    <div class="extra-content text-center m-5">
    <h4>Bagi kamu yang suka musik, kategori event inilah yang paling 
        tepat untukmu, berikut adalah subkategori dari event ini: </h4>
    
    <ul>
        <li><h5>Music Festival</h5></li>
        <li><h5>Concerts</h5></li>
    </ul>
    </div>
</a>
</div>
{{ end }}
{{ define "category6"}}
<div class="col m-5 education-and-career main-categories">
<a href="#" class="text-white">
    <h1 class="text-center">Education and Career</h1>
    <div class="extra-content text-center m-5">
    <h4>Bagi kamu yang suka musik, kategori event inilah yang paling 
        tepat untukmu, berikut adalah subkategori dari event ini: </h4>
    
    <ul>
        <li><h5>Art Exhibitions</h5></li>
        <li><h5>Theater Performances</h5></li>
    </ul>
    </div>
</a>
</div>
{{ end }}