{{ define "category1"}}
<div class="col m-5 music-events main-categories">
<a href="#" class="text-white">
    <h1 class="text-center">MUSIC EVENTS</h1>
    <div class="extra-content text-center m-5">
    <h4>Bagi kamu yang suka musik, kategori event inilah yang paling 
        tepat untukmu, berikut adalah subkategori dari event ini: </h4>
    
    <ul>
        <li><h5>Music Festival</h5></li>
        <li><h5>Concerts</h5></li>
    </ul>
    </div>
</a>
</div>
{{ end }}
{{ define "category2"}}
<div class="col m-5 arts-and-culture main-categories">
<a href="#" class="text-white">
    <h1 class="text-center">ARTS AND CULTURE</h1>
    <div class="extra-content text-center m-5">
    <h4>Bagi kamu yang suka musik, kategori event inilah yang paling 
        tepat untukmu, berikut adalah subkategori dari event ini: </h4>
    
    <ul>
        <li><h5>Art Exhibitions</h5></li>
        <li><h5>Theater Performances</h5></li>
    </ul>
    </div>
</a>
</div>
{{ end }}
{{ define "category3"}}
<div class="col m-5 sports-and-fitness main-categories">
<a href="#" class="text-white">
    <h1 class="text-center">SPORTS AND FITNESS</h1>
    <div class="extra-content text-center m-5">
    <h4>Bagi kamu yang suka musik, kategori event inilah yang paling 
        tepat untukmu, berikut adalah subkategori dari event ini: </h4>
    
    <ul>
        <li><h5>Music Festival</h5></li>
        <li><h5>Concerts</h5></li>
    </ul>
    </div>
</a>
</div>
{{ end }}
{{ define "category4"}}
<div class="col m-5 food-and-dining main-categories">
<a href="#" class="text-white">
    <h1 class="text-center">FOOD AND DINING</h1>
    <div class="extra-content text-center m-5">
    <h4>Bagi kamu yang suka musik, kategori event inilah yang paling 
        tepat untukmu, berikut adalah subkategori dari event ini: </h4>
    
    <ul>
        <li><h5>Art Exhibitions</h5></li>
        <li><h5>Theater Performances</h5></li>
    </ul>
    </div>
</a>
</div>

{{ end }}
{{ define "category5"}}
<div class="col m-5 family-and-kids main-categories">
<a href="#" class="text-white">
    <h1 class="text-center">FAMILY AND KIDS</h1>
    <div class="extra-content text-center m-5">
    <h4>Bagi kamu yang suka musik, kategori event inilah yang paling 
        tepat untukmu, berikut adalah subkategori dari event ini: </h4>
    
    <ul>
        <li><h5>Music Festival</h5></li>
        <li><h5>Concerts</h5></li>
    </ul>
    </div>
</a>
</div>
{{ end }}
{{ define "category6"}}
<div class="col m-5 education-and-learning main-categories">
<a href="#" class="text-white">
    <h1 class="text-center">EDUCATION AND LEARNING</h1>
    <div class="extra-content text-center m-5">
    <h4>Bagi kamu yang suka musik, kategori event inilah yang paling 
        tepat untukmu, berikut adalah subkategori dari event ini: </h4>
    
    <ul>
        <li><h5>Art Exhibitions</h5></li>
        <li><h5>Theater Performances</h5></li>
    </ul>
    </div>
</a>
</div>
{{ end }}
{{ define "category7"}}
<div class="col m-5 outdoor-and-adventure main-categories">
<a href="#" class="text-white">
    <h1 class="text-center">OUTDOOR AND ADVENTURE</h1>
    <div class="extra-content text-center m-5">
    <h4>Bagi kamu yang suka musik, kategori event inilah yang paling 
        tepat untukmu, berikut adalah subkategori dari event ini: </h4>
    
    <ul>
        <li><h5>Music Festival</h5></li>
        <li><h5>Concerts</h5></li>
    </ul>
    </div>
</a>
</div>
{{ end }}
{{ define "category8"}}
<div class="col m-5 nightlife-and-entertainment main-categories">
<a href="#" class="text-white">
    <h1 class="text-center">NIGHTLIFE AND ENTERTAINMENT</h1>
    <div class="extra-content text-center m-5">
    <h4>Bagi kamu yang suka musik, kategori event inilah yang paling 
        tepat untukmu, berikut adalah subkategori dari event ini: </h4>
    
    <ul>
        <li><h5>Art Exhibitions</h5></li>
        <li><h5>Theater Performances</h5></li>
    </ul>
    </div>
</a>
</div>
{{ end }}