{{ define "about" }}
<div class="container text-white m-5">
    <h1>About This Event</h1>
    <div class="content p-5 row">
        <div class="col-8">
            <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto perspiciatis quisquam rem ea qui nisi iste velit 
                molestiae dolorem voluptates earum, sed sit aperiam. Architecto accusamus perferendis iusto magni blanditiis, 
                animi facilis eos repudiandae voluptate quidem beatae explicabo deserunt ad. Dicta ex mollitia vitae enim obcaecati hic, 
                soluta nihil voluptatum tempore quibusdam voluptatibus dolor dolore suscipit doloremque. Aperiam, tempora autem consectetur, 
                eius eos perspiciatis excepturi et explicabo sit dolores asperiores esse enim corporis fugiat odio harum? Doloribus ipsa sed 
                veritatis dolore, laudantium placeat quidem, omnis quisquam labore 
                consequatur laboriosam vero vel incidunt error unde expedita iusto mollitia quam facilis cum!</h5>
            <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto perspiciatis quisquam rem ea qui nisi iste velit 
                    molestiae dolorem voluptates earum, sed sit aperiam. Architecto accusamus perferendis iusto magni blanditiis, 
                    animi facilis eos repudiandae voluptate quidem beatae explicabo deserunt ad. Dicta ex mollitia vitae enim obcaecati hic, 
                    soluta nihil voluptatum tempore quibusdam voluptatibus dolor dolore suscipit doloremque. Aperiam, tempora autem consectetur, 
                    eius eos perspiciatis excepturi et explicabo sit dolores asperiores esse enim corporis fugiat odio harum? Doloribus ipsa sed 
                    veritatis dolore, laudantium placeat quidem, omnis quisquam labore 
                    consequatur laboriosam vero vel incidunt error unde expedita iusto mollitia quam facilis cum!</h5>
        </div>

    </div>

   
</div>
{{ end }}