{{ define "eventdescription" }}
<div class="col-3 text-white">
        <span><img src="/images/mainpage/home/DateIcon.png" class="m-3 icon" alt=""><b>25 January 2023</b></span>
</div>
<div class="col-3 text-white">
    <span><img src="/images/mainpage/home/LocationIcon.png" class="m-3 icon" alt=""><b>Gor Rawamangun Jakarta Barat</b></span>
</div>
<div class="col-3 text-white">
    <span><img src="/images/mainpage/home/TicketIcon.png" class="m-3 icon" alt=""><b>Rp. 150000 for guest</b></span>

</div>
<div class="col-3 text-white text-white">
    <a href="#">
    <img src="/images/mainpage/eventdetails/RegisterNowButton.png" alt="">
    </a>

</div>
{{ end }}