{{ define "eventcreator" }}
    <div class="card text-center">
        <div class="card-header">
          <h1>Created By:</h1>
        </div>
        <div class="card-body row">
            <div class="col-6">
                <span><img class="rounded-circle mx-5" style="width: 120px; height: 100px;" src="/images/mainpage/home/EventCreatorPicture.jpg" alt=""></span>
                <h5 class="card-title">Kaiju BOP</h5>
                
                <p class="card-text">Professional Event Creator, who focuses on sports event in indonesia</p>
                <button class="btn btn-lg btn-success rounded-pill text-white">View Account</button>
            </div>
            <div class="col-6">
                <div class="card">
                    <h5 class="card-header">Contacts</h5>
                    <div class="card-body">
                        <div class="row">
                            <span><i class="bi bi-instagram me-2"></i><b>@KaijuBOP</b></span>
                        </div>
                        <div class="row">
                            <span><i class="bi bi-whatsapp me-2"></i><b>082138321111</b></span>
                        </div>
                        <div class="row">
                            <span><i class="bi bi-facebook me-2"></i><b>@KaijuBOP</b></span>
                        </div>
                        <div class="row">
                            <span><i class="bi bi-line me-2"></i><b>-</b></span>
                        </div>
                    </div>
                  </div>
            </div>
        </div>
        <div class="card-footer text-muted">
          2 days ago
        </div>
        
      </div>


  {{ end }}