{{ define "featuredimages" }}
<h1 class="text-white m-5" >FEATURED IMAGES</h1>

<div class="row ms-5">
    <div class="col-2">
        <div class="featured-images thumbnail-container">
            <img src="{{ .Event.Image.String }}" class="img-thumbnail" alt="Thumbnail Image 2" data-bs-toggle="modal" data-bs-target="#imageModal">
        </div>
        <div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <img src="{{ .Event.Image.String }}" class="img-fluid" alt="Full Image">
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}
