{{ define "featuredimages" }}
<h1 class="text-white m-5" >FEATURED IMAGES</h1>
<div class="row ms-5">
    <div class="col-2">
        <div class="featured-images thumbnail-container">
            <img src="/images/mainpage/eventdetails/FeaturedImages1.jpg" class="img-thumbnail" alt="Thumbnail Image" data-bs-toggle="modal" data-bs-target="#imageModal">
        </div>
    </div>



    <div class="col-2">
        <div class="featured-images thumbnail-container">
            <img src="/images/mainpage/eventdetails/FeaturedImages2.jpg" class="img-thumbnail" lt="Thumbnail Image" data-bs-toggle="modal" data-bs-target="#imageModal">
        </div>
    </div>


    <div class="col-2">
        <div class="featured-images thumbnail-container">
       
            <img src="/images/mainpage/eventdetails/FeaturedImages3.jpg" class="img-thumbnail" lt="Thumbnail Image" data-bs-toggle="modal" data-bs-target="#imageModal">
        </div>
    </div>

 


    <div class="col-2">
        <div class="featured-images thumbnail-container">
            <img src="/images/mainpage/eventdetails/FeaturedImages2.jpg" class="img-thumbnail" lt="Thumbnail Image" data-bs-toggle="modal" data-bs-target="#imageModal">
        </div>
    </div>

  
    <div class="col-2">
    </div>
</div>







{{ template "imagemodal" .}}
{{ end }}