{{ template "topEventDetails" .}}
{{ template "partials/navbar-signedin" .}}
<div class="row">
{{ template "carouseleventdetails" .}}
</div>
<!-- KALO MISALNY USER UDAH REGISTER EVENT BERARTI DIA BISA RATING DI TICKET -->
<div class="row information-section">
    {{ template "eventinformation" .}}
</div>
<div class="row p-5 mx-5">
    {{ template "eventcreator" .}}
</div>
<div class="row">
{{ template "featuredimages" .}}
</div>
<div class="row">
    {{ template "about" .}}
    </div>

  
{{ template "partials/footer" .}}

{{ template "bottomEventDetails" .}}