.item-1{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)),url('/images/landingpage/Jumbotron.png');
    background-size: cover; /* Ensures the image covers the entire jumbotron */
    background-position: center; /* Centers the image within the jumbotron */
    background-repeat: no-repeat; /* Prevents image repetition */
    color: #fff; /* Adjust text color for readability */
    padding: 100px 0; /* Add padding as needed for content */
}

.item-2{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)),url('/images/landingpage/Carousel2.png');
    background-size: cover; /* Ensures the image covers the entire jumbotron */
    background-position: center; /* Centers the image within the jumbotron */
    background-repeat: no-repeat; /* Prevents image repetition */
    color: #fff; /* Adjust text color for readability */
    padding: 100px 0; /* Add padding as needed for content */
}

.item-3{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)),url('/images/landingpage/carousel-item-3.jpeg');
    background-size: cover; /* Ensures the image covers the entire jumbotron */
    background-position: center; /* Centers the image within the jumbotron */
    background-repeat: no-repeat; /* Prevents image repetition */
    color: #fff; /* Adjust text color for readability */
    padding: 100px 0; /* Add padding as needed for content */
}

.carousel-item {
    height: 900px; /* set a fixed height */
  }
  
  .carousel-item img {
    object-fit: cover; /* scale the image to cover the entire container */
    height: 100%; /* set the image height to 100% of the container */
  }


