{{ define "generaterecommendation" }}
<div class="row text-white generate-recommendation-section p-5 text-center">
    <h1 class="col-12 mb-1"><b>DAPATKAN REKOMENDASI EVENTMU DISINI</b></h1>
    <p class="col-12 mb-5">Rekomendasi event telah disesuaikan berdasarkan preferensimu yang disimpulkan berdasarkan kata kunci pencarian, rating, dan history pencarian</p>
    <form>
        <button type="submit" class="btn btn-dark btn-lg">Generate Recommendation</button>



        
      </form>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
</div>
{{ end }}