{{ define "description" }}
<div class="description container p-4 bg-dark text-white rounded-pill text-center">
    <div class="row">
        <div class="col-lg">
            <p><img src="/images/landingpage/thumb-up.png" alt="">Various Events Merchant</p>
        </div>

        <div class="col-lg">
            <p><img src="/images/landingpage/folder.png" alt="">Well Organized</p>
        </div>

        <div class="col-lg">
            <p><img src="/images/landingpage/marker-pin.png" alt="">Various Places</p>
        </div>

        <div class="col-lg">
            <p><img src="/images/landingpage/alarm-clock.png" alt="">Up to Date</p>
        </div>
    </div>
 </div>
 {{ end }}