{{ define "mainsection" }}
<div class="jumbotron w-100 h-100">
  <h1 class="ms-5">WEBSITE PENCARIAN EVENT TERBAIK UNTUKMU</h1>
  <p class="ms-5">Tempat pencarian terbaik bagi kamu penggemar event-event di Indonesia <br> </p>

  <div class="row">

    <div class="col-md-12">
        &nbsp; <!-- Non-breaking space to create vertical space -->
    </div>
</div>
  <div class="h-100"></div>
</div>
<div class="jumbotron2 w-100 h-100">
  <h3 class="text-center">Platform bagi pembuat event <br> untuk menjangkau para peminatnya</h3>
  <div class="row">
    <div class="col-md-12">
        &nbsp; <!-- Non-breaking space to create vertical space -->
    </div>
</div>
  <div class="h-100"></div>
</div>
<div class="jumbotron3 w-100 h-100 align-items-right">

  <div class="row">
    <div class="col-md-8">
        &nbsp; <!-- Non-breaking space to create vertical space -->
    </div>
    <h3 class="col-md-4">Teknologi sistem rekomendasi yang dibuat <br> khusus untuk memberikan daftar rekomendasi event yang sesuai dengan minatmu
    </h3>
</div>
  <div class="h-100"></div>
</div>
  {{ end }}