{{ define "caption" }}
<div class="container">
    <div class="row">
      <div class="col">
        <h1>BERBAGAI MANFAAT BISA KAMU DAPATKAN DARI PLATFORM INI</h1>
      </div>
      <div class="col"></div>
    </div>
    <div class="row">
      <div class="col">
       <p>Platform ini menyediakan informasi-informasi khusus mengenai event terbaru yang akan diadakan di wilayah Indonesia! dilengkapi dengan sistem rekomendasi yang 
        mempertimbangkan konten, jarak, waktu registrasi dan popularitas dari event yang mungkin sesuai dengan preferensimu! Jadi tunggu apa lagi? yuk login sekarang!
       </p>
      </div>
      <div class="col"></div>
    </div>
  </div>
  {{end }}