{{  define "caption3" }}
<div class="container">
    <div class="row">
      <div class="col">
        <h1>SEBAGAI PEMBUAT EVENT : </h1>
      </div>
      <div class="col"></div>
    </div>
    <div class="row">
      <div class="col">
       <p>Berikut adalah tanggapan dari para event creator yang telah merealisasikan event yang mereka rencanakan di platform ini:</p>
      </div>
      <div class="col">
      </div>
    </div>
    <div class="row pt-5">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="/images/landingpage/profile1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-dark">Joze</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Events Creator</h6>
                    <p class="card-text text-dark">Setelah menggunakan platform ini, event yang saya buat selalu ramai pengunjung, mungkin karena algoritma dari sistem rekomendasi yang membantu mengiklankan event saya ke target yang pas</p>
                </div>
            </div>
        </div>
        <div class="col">
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="/images/landingpage/profile2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-dark">Fernandez</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Events Creator</h6>
                    <p class="card-text text-dark">Terima kasih Event Hunters, karena telah memudahkan saya sebagai event creator dalam pembuatan event</p>
                </div>
            </div>
        </div>


    </div>

  </div>
  {{  end}}