{{  define "caption3" }}
<div class="container">
    <div class="row">
      <div class="col">
        <h1>SEBAGAI PEMBUAT EVENT : </h1>
      </div>
      <div class="col"></div>
    </div>
    <div class="row">
      <div class="col">
       <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam sunt ullam doloremque autem adipisci, similique tempore! 
        Saepe doloremque explicabo quod natus quibusdam possimus ipsa consequuntur, sint error, non dignissimos ullam.</p>
      </div>
      <div class="col">
      </div>
    </div>
    <div class="row pt-5">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="/images/landingpage/profile1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-dark">Fernandez</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Event Hunters User</h6>
                    <p class="card-text text-dark">Setelah menggunakan platform ini, saya jadi selalu terupdate mengenai informasi event di Jakarta</p>
                </div>
            </div>
        </div>
        <div class="col">
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="/images/landingpage/profile2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-dark">Fernandez</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Event Hunters User</h6>
                    <p class="card-text text-dark">Setelah menggunakan platform ini, saya jadi selalu terupdate mengenai informasi event di Jakarta</p>
                </div>
            </div>
        </div>


    </div>

  </div>
  {{  end}}