{{ define "caption" }}
<div class="container">
    <div class="row">
      <div class="col">
        <h1>BERBAGAI MANFAAT BISA KAMU DAPATKAN DARI PLATFORM INI</h1>
      </div>
      <div class="col"></div>
    </div>
    <div class="row">
      <div class="col">
       <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam sunt ullam doloremque autem adipisci, similique tempore! 
        Saepe doloremque explicabo quod natus quibusdam possimus ipsa consequuntur, sint error, non dignissimos ullam.</p>
      </div>
      <div class="col"></div>
    </div>
  </div>
  {{end }}