{{ define "logintype" }}
<div class="row">
    <h1 class="text-center text-white my-3">SIAPAKAH KAMU?</h1>

    <div class="col-5 p-5 m-5 rounded-3">
        <div class="card text-center border border-dark">
            <div class="card-header bg-dark text-white">
              <h3>Login sebagai user</h1>
            </div>
            <div class="card-body user-background p-5">
              <h5 class="card-title mb-3">Kamu sebagai user dapat dengan bebas mencari event yang dibuat oleh event creator disini</h5>
              <p class="card-text mb-5">Selain itu, terdapat sistem rekomendasi juga yang dapat memberikan rekomendasi event yang telah disesuaikan dengan preferensimu</p>


              <a href="/loginuser" class="btn btn-success btn-lg rounded-pill">Login as User</a>
          
            
            </div>
          </div>
    </div>

    <div class="col-5 p-5 m-5 rounded-3">
        <div class="card text-center border border-dark">
            <div class="card-header bg-dark text-white">
              <h3>Login sebagai event creator</h1>
            </div>
            <div class="card-body eventcreator-background p-5">
              <h5 class="card-title mb-3">Kamu sebagai event creator dapat membuat event yang kamu inginkan melalui persetujuan administrator terlebih dahulu</h5>
              <p class="card-text mb-5">Buat eventmu yang menarik dan dapat menjangkau seluruh Indonesia!</p>
              <a href="/logineventcreator" class="btn btn-success btn-lg rounded-pill">Login as Event Creator</a>
            </div>
          </div>
    </div>
</div>
{{ end }}