


.carousel-item {
    height: 700px; /* set a fixed height */
  }
  
  .carousel-item img {
    object-fit: cover; /* scale the image to cover the entire container */
    height: 100%; /* set the image height to 100% of the container */
  }



