{{ define "bottomsearch" }}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap-datepicker@1.9.0/dist/js/bootstrap-datepicker.min.js"></script>
<script>
    $(document).ready(function () {
        $('#MinRegDatePicker').datepicker({
            format: 'mm/dd/yyyy', // Date format
            todayHighlight: true // Highlight today's date
        });
    });
    // Handle the click event on the calendar icon
        $('#MinRegDatePicker-icon').click(function () {
                $('#MinRegDatepicker').datepicker('show');
            });

    $(document).ready(function () {
        $('#MaxRegDatePicker').datepicker({
            format: 'mm/dd/yyyy', // Date format
            todayHighlight: true // Highlight today's date
        });
    });
    // Handle the click event on the calendar icon
        $('#MaxRegDatePicker-icon').click(function () {
                $('#MaxRegDatePicker').datepicker('show');
            });

    // FOR START EVENT
    $(document).ready(function () {
        $('#MinEventDatePicker').datepicker({
            format: 'mm/dd/yyyy', // Date format
            todayHighlight: true // Highlight today's date
        });
    });
    // Handle the click event on the calendar icon
        $('#MinEventDatePicker-icon').click(function () {
                $('#MinEventDatepicker').datepicker('show');
            });

    $(document).ready(function () {
        $('#MaxEventDatePicker').datepicker({
            format: 'mm/dd/yyyy', // Date format
            todayHighlight: true // Highlight today's date
        });
    });
    // Handle the click event on the calendar icon
        $('#MaxEventDatePicker-icon').click(function () {
                $('#MaxEventDatePicker').datepicker('show');
            });
</script>
</body>
</html>
{{ end }}