{{ define "filterform" }}
<div class="row text-white search-filter p-5">
    <h1>CARI EVENTMU DISINI</h1>
    <form>
        <div class="mb-3 col-4">
          <label for="exampleInputEmail1" class="form-label">Nama Event Yang Ingin Dicari</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>

        <div class="col-4">
            <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                <option selected>Kategori Event Yang Ingin Dicari</option>
                <option value="1">MUSIC EVENTS</option>
                <option value="2">ARTS AND CULTURE</option>
                <option value="3">FOOD AND DINING</option>
                <option value="4">SPORTS AND FITNESS</option>
                <option value="5">FAMILY AND KIDS</option>
                <option value="6">EDUCATION AND LEARNING</option>
                <option value="7">OUTDOOR AND ADVENTURE</option>
                <option value="8">NIGHTLIFE AND ENTERTAINMENT</option>
              </select>
        </div>
        
        <div class="row mb-3">
        <div class="mb-1 col-2">
            <label for="exampleInputEmail1" class="form-label">Minimum Ticket Price</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>
        <div class="mb-1 col-2">
            <label for="exampleInputEmail1" class="form-label">Maximum Ticket Price</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>
          <div id="emailHelp" class="form-text">Atur range harga tiket event yang kamu harapkan, apabila kosong maka seluruh range harga akan ditampilkan</div>
        </div>



        <div class="row mb-3">
        <div class="mb-3 col-2">
            <label for="datepicker" class="form-label">Start Date</label>
            <div class="input-group date">
                <input type="text" class="form-control" id="startdatepicker">
                <span class="input-group-text" id="startdatepicker-icon"><i class="bi bi-calendar"></i></span>
            </div>
        </div>
        <div class="mb-3 col-2">
            <label for="datepicker" class="form-label">End Date</label>
            <div class="input-group date">
                <input type="text" class="form-control" id="enddatepicker">
                <span class="input-group-text" id="enddatepicker-icon"><i class="bi bi-calendar"></i></span>
            </div>
        </div>
        <div id="emailHelp" class="form-text">Event akan ditampilkan sesuai dengan range tanggal yang kamu masukkan, apabila kosong maka seluruh event akan ditampilkan</div>
        </div>




        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
</div>
{{ end }}