{{ define "filterform" }}
<div class="row text-white search-filter p-5">
    <h1 class="col-4 mb-5"><b>CARI EVENTMU DISINI</b></h1>
    <form action="{{ $.BaseURL }}/search" method="post">
        <div class="mb-3 col-4">
          <label for="Keyword" class="form-label">Kata Kunci Event Yang Ingin Dicari</label>
          <input type="text" class="form-control" id="Keyword" aria-describedby="Keyword" name="Keyword">
          <div id="Keyword" class="form-text">Kata Kunci yang kamu masukkan akan disesuaikan dengan beberapa atribut event seperti konten, tag dan nama event</div>
        </div>

        <!--KATEGORI EVENT YANG INGIN DIPILIH-->
        <div class="row ms-2 mb-3">
          <label class="form-label"><b>Kategori Event Yang Ingin Ditampilkan</b></label>
        <div class="row mt-3">
          <div class="mb-3 form-check col-2">
            <input type="checkbox" class="form-check-input" id="educationCareerCheck" name="Education & Career" value="1">
            <label class="form-check-label" for="exampleCheck1">Education & Career</label>
          </div>
          <div class="mb-3 form-check col-2">
            <input type="checkbox" class="form-check-input" id="entertainmentCheck" name="Entertainment & Performance" value="2">
            <label class="form-check-label" for="exampleCheck1">Entertainment & Performance</label>
          </div>
        </div>
        <div class="row">
          <div class="mb-3 form-check col-2">
            <input type="checkbox" class="form-check-input" id="charityCheck" name="Charity" value="3">
            <label class="form-check-label" for="exampleCheck1">Charity</label>
          </div>
          <div class="mb-3 form-check col-2">
            <input type="checkbox" class="form-check-input" id="competitionCheck" name="Competition" value="4">
            <label class="form-check-label" for="exampleCheck1">Competition</label>
          </div>
        </div>
        <div class="row">
          <div class="mb-3 form-check col-2">
            <input type="checkbox" class="form-check-input" id="sportsCheck" name="Sports" value="5">
            <label class="form-check-label" for="exampleCheck1">Sports</label>
          </div>
          <div class="mb-3 form-check col-2">
            <input type="checkbox" class="form-check-input" id="artCultureCheck" name="Art & Culture" value="6" >
            <label class="form-check-label" for="exampleCheck1">Art & Culture</label>
          </div>
        </div>
        <div class="row">
          <div class="mb-3 form-check col-2">
            <input type="checkbox" class="form-check-input" id="expoCheck" name="Expo" value="7">
            <label class="form-check-label" for="exampleCheck1">Expo</label>
          </div>
        </div>
      </div>
     
        
           <!-- FOR MINIMUM AND MAXIMUM TICKET PRICE-->
        <!-- <div class="row mb-3">
        <div class="mb-1 col-2">
            <label for="exampleInputEmail1" class="form-label">Minimum Ticket Price</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>
        <div class="mb-1 col-2">
            <label for="exampleInputEmail1" class="form-label">Maximum Ticket Price</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>
          <div id="emailHelp" class="form-text">Atur range harga tiket event yang kamu harapkan, apabila kosong maka seluruh range harga akan ditampilkan</div>
        </div> -->


        <!-- FOR REGISTER START DATE AND END DATE-->
        <div class="row mb-3">
        <div class="mb-3 col-2">
            <label for="datepicker" class="form-label">Minimum Register Start Date</label>
            <div class="input-group date">
                <input type="text" class="form-control" id="MinRegDatePicker" name="MinRegDate">
                <span class="input-group-text" id="MinRegDatePicker-icon"><i class="bi bi-calendar"></i></span>
            </div>
        </div>
        <div class="mb-3 col-2">
            <label for="datepicker" class="form-label">Maximum Register End Date</label>
            <div class="input-group date">
                <input type="text" class="form-control" id="MaxRegDatePicker" name="MaxRegDate">
                <span class="input-group-text" id="MaxRegDatePicker-icon"><i class="bi bi-calendar"></i></span>
            </div>
        </div>
        <div id="emailHelp" class="form-text">Tanggal registrasi event ditampilkan sesuai dengan range tanggal yang kamu masukkan, apabila kosong maka seluruh event akan ditampilkan</div>
        </div>

        <!-- FOR EVENT START DATE AND END DATE-->
        <div class="row mb-3">
          <div class="mb-3 col-2">
              <label for="datepicker" class="form-label">Minimum Event Start Date</label>
              <div class="input-group date">
                  <input type="text" class="form-control" id="MinEventDatePicker" name="MinEventStartDate">
                  <span class="input-group-text" id="MinEventDatePicker-icon"><i class="bi bi-calendar"></i></span>
              </div>
          </div>
          <div class="mb-3 col-2">
              <label for="datepicker" class="form-label">Maximum Event Start Date</label>
              <div class="input-group date">
                  <input type="text" class="form-control" id="MaxEventDatePicker" name="MaxEventStartDate">
                  <span class="input-group-text" id="MaxEventDatePicker-icon"><i class="bi bi-calendar"></i></span>
              </div>
          </div>
          <div id="emailHelp" class="form-text">Tanggal mulai event akan ditampilkan sesuai dengan range tanggal yang kamu masukkan, apabila kosong maka seluruh event akan ditampilkan</div>
          </div>

             <!--KATEGORI EVENT YANG INGIN DICARI-->
             <div class="col-4">
              <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" name="EventType">
                  <option selected>Tipe Event</option>
                  <option value="offline">OFFLINE</option>
                  <option value="online">ONLINE</option>
              </select>
          </div>



        <button type="submit" class="btn btn-primary">Submit</button>



        
      </form>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
</div>
{{ end }}