{{ define "listactivetickets" }}
<div class="container">
  {{ if .Tickets }}
  {{range $index, $ticket := .Tickets}}
    <div class="row">
      <div class="card mb-3 me-5">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="{{ $ticket.Image }}" class="img-fluid rounded-start card-img-result" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title text-dark">TICKET {{ $ticket.Title }}</h5>
                  <span class="input-group-text text-white" style="background-color: green;"><i class="bi bi-exclamation-circle"></i><b><small class="text-white ms-3">Status: ACTIVE</small></b></span>
                  <span class="input-group-text" id="enddatepicker-icon"><i class="bi bi-calendar me-2"></i><b>Event Start Date</b> : {{ $ticket.Startevent_date.Format "02 Jan 2006" }} - {{ $ticket.Endevent_date.Format "02 Jan 2006" }}</span>
                  <span class="input-group-text" id="enddatepicker-icon"><i class="bi bi-geo-alt me-2"></i><b>Location</b> : {{ $ticket.Location }}</span>
                  <a class="btn btn-dark btn-lg m-5 ms-0 mb-3" href="{{ $.BaseURL }}/ticketinformation?id={{ $ticket.TicketID }}">
                    View Tickets
                  </a>
                </div>
              </div>
            </div>
        </div>
     </div>
    {{ end }}
    {{ else }}
    <div class="card m-5">
      <div class="card-header bg-success text-white text-center">
        <h3>You dont have any tickets to show</h3>
      </div>
      <div class="card-body text-center">
        <h3 class="card-title">Kamu belum mempunyai tiket sama sekali</h3>
        <p class="card-text">Pergi ke halaman detail event untuk melakukan registrasi ke suatu event!</p>
        <a href="{{ $.BaseURL }}" class="btn btn-primary"><b>Klik disini untuk mencari event</b></a>
      </div>
    </div>
  

    {{ end }}
</div>
{{ end }}