{{ define "listexpiredtickets" }}
<div class="row">
    <h1 class="text-white m-5 border-bottom col-4 ">PAST TICKETS</h1>
</div>
<div class="container">
    <div class="row">
        <div class="card mb-3 me-5">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="/images/mainpage/mytickets/Ticket1.jpeg" class="img-fluid rounded-start card-img-result" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">JAK JAPAN MATSURI 2023</h5>
                  <h6>PROMO 1 PASS DAY TICKET</h6>
                  <span class="input-group-text text-white" style="background-color: green;"><i class="bi bi-exclamation-circle"></i><b><small class="text-white ms-3">Ticket ini sudah digunakan</small></b></span>
                  <span class="input-group-text text-white" style="background-color: red;"><i class="bi bi-exclamation-circle"></i><b><small class="text-white ms-3">Ticket ini sudah expired</small></b></span>
                  <span class="input-group-text"><i class="bi bi-calendar me-2"></i><b>26 August 2023 - 17 September 2023</b></span>
                  <span class="input-group-text"><i class="bi bi-geo-alt me-2"></i><b>Oregon City, Canada State</b></span>
                  <span class="input-group-text"><i class="bi bi-ticket me-2"></i><b>EX781</b></span>
                  <button class="btn btn-outline-danger btn-lg m-5 ms-0 mb-3">View Ticket</button>
                </div>
              </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card mb-3 me-5">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="/images/mainpage/mytickets/Ticket1.jpeg" class="img-fluid rounded-start card-img-result" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">JAK JAPAN MATSURI 2023</h5>
                  <h6>PROMO 1 PASS DAY TICKET</h6>
                  <span class="input-group-text text-white" style="background-color: red;"><i class="bi bi-exclamation-circle"></i><b><small class="text-white ms-3">Ticket ini belum digunakan dan sudah expired</small></b></span>
                  <span class="input-group-text"><i class="bi bi-calendar me-2"></i><b>26 August 2023 - 17 September 2023</b></span>
                  <span class="input-group-text"><i class="bi bi-geo-alt me-2"></i><b>Oregon City, Canada State</b></span>
                  <span class="input-group-text"><i class="bi bi-ticket me-2"></i><b>EX781</b></span>
                  <button class="btn btn-outline-danger btn-lg m-5 ms-0 mb-3">View Ticket</button>
                </div>
              </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card mb-3 me-5">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="/images/mainpage/mytickets/Ticket1.jpeg" class="img-fluid rounded-start card-img-result" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">JAK JAPAN MATSURI 2023</h5>
                  <h6>PROMO 1 PASS DAY TICKET</h6>
                  <span class="input-group-text text-white" style="background-color: red;"><i class="bi bi-exclamation-circle"></i><b><small class="text-white ms-3">Ticket ini belum digunakan dan sudah expired</small></b></span>
                  <span class="input-group-text"><i class="bi bi-calendar me-2"></i><b>26 August 2023 - 17 September 2023</b></span>
                  <span class="input-group-text"><i class="bi bi-geo-alt me-2"></i><b>Oregon City, Canada State</b></span>
                  <span class="input-group-text"><i class="bi bi-ticket me-2"></i><b>EX781</b></span>
                  <button class="btn btn-outline-danger btn-lg m-5 ms-0 mb-3">View Ticket</button>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>


{{ end }}