{{ template "topLoginPage" }}
{{ template "partials/navbar" .}}
<div class="row">
    <div class="col">
        {{ template "eventcreatorloginform" }}
    </div>
    <div class="col">
    </div>
</div>
<!-- {{ if eq .userType "user" }}
<div class="row">
    <div class="col">
        {{ template "userloginform" }}
    </div>
    <div class="col">
    </div>
</div>
{{ else if eq .userType "eventcreator" }}
<div class="row">
    <div class="col">
        {{ template "eventcreatorloginform" }}
    </div>
    <div class="col">
    </div>
</div>
{{ end }} -->


{{ template "partials/footer" }}
{{ template "bottomLandingPage" }}