{{ define "loginform" }}
<div class="container bg-light p-5">
    <h1 class="mb-2"><b>Hi There!</b></h1>
    <h5 class="mb-5"><b>Please insert your data here to continue further</b></h5>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
    <div class="mb-5">
        <label for="exampleFormControlInput1" class="form-label">Password</label>
        <input type="password" class="form-control" id="exampleFormControlInput1" placeholder="Your Password Here">
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="mb-3">
        <a href="/mainpage">
            <img src="/images/loginpage/SignInButton.png" alt="">
        </a>  
    </div>
    <p class="mb-5">Belum ada akun?<b><a href="/registration"> Klik disini untuk buat akun baru</a></b></p>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>
{{ end }}